Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Update dependency node to v18.12.1
  .tool-versions
Due: none

Update dependency @metamask/providers to v10
  package.json
  yarn.lock
Due: jest

Update dependency dotenv to v16
  package.json
  yarn.lock
Due: jest

Update dependency entities to v4
  package.json
  yarn.lock
Due: jest

Update dependency fake-indexeddb to v4
  package.json
  yarn.lock
Due: jest

Update dependency jest-junit to v15
  package.json
  yarn.lock
Due: jest

Update dependency jsdoc to v4
  package.json
  yarn.lock
Due: jest

Update dependency webpack-cli to v5
  package.json
  yarn.lock
Due: jest

npx yarn-audit-fix https://dev.to/antongolub/yarn-audit-fix-workaround-i2a
  yarn.lock
Due: jest

Add `yarn audit:fix` command
  package.json
Due: jest

Force loader-utils ^2.0.3
  package.json
  yarn.lock
Due: jest

GitLab CI: let included jobs be interrupted
  .gitlab-ci.yml
Due: none

npx browserslist@latest --update-db
  yarn.lock
Due: jest

vscode: recommend `redhat.vscode-yaml` extension
  .vscode/extensions.json
Due: jest

vscode: add schemas to renovate.json, .lintstagedrc.json
  .vscode/settings.json
Due: jest

renovate: rebase only on conflict
  renovate.json
Due: jest

GitLab CI: use $CI_DEFAULT_BRANCH
  .gitlab-ci.yml
Due: none

GitLab CI: fix before_script type
  .gitlab-ci.yml
Due: none

Danger: don't run on develop
  .gitlab-ci.yml
Due: none

GitLab CI: make jobs interruptible by default
  .gitlab-ci.yml
Due: none

GitLab CI: expose build artifact in merge request UI
  .gitlab-ci.yml
Due: none

Remove postcss-object-fit-images
  package.json
  postcss.config.js
  yarn.lock
Due: lint-js, jest

Remove object-fit-images
  app/soapbox/extra-polyfills.ts
  app/soapbox/load-polyfills.ts
  package.json
  yarn.lock
Due: lint-js, jest

Remove JSDoc
  jsdoc.conf.js
  package.json
  yarn.lock
Due: lint-js, jest

Upgrade json5 to patched version
  yarn.lock
Due: jest

fix(deps): update dependency blurhash to v2
  package.json
  yarn.lock
Due: jest

ok, this works
  app/soapbox/reducers/admin.ts
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

back to use AccountContainer in Notification component
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/scheduled-statuses/components/scheduled-status.tsx
Due: lint-js, jest

Mark some strings as translatable
  app/soapbox/features/chats/components/chat-page/components/chat-page-new.tsx
  app/soapbox/features/chats/components/chat-search/chat-search.tsx
Due: lint-js, jest

Add backdrop-blur behind modals
  CHANGELOG.md
  app/soapbox/components/modal-root.tsx
Due: lint-js, jest

Webpack: enable hot module replacement (HMR)
  package.json
  webpack/development.ts
  webpack/rules/babel.ts
  yarn.lock
Due: lint-js, jest

Webpack: only load react-refresh/babel in development
  webpack/rules/babel.ts
Due: lint-js, jest

Remove feather-icons
  app/soapbox/features/notifications/components/filter-bar.tsx
  package.json
  webpack/rules/assets.ts
  yarn.lock
Due: lint-js, jest

yarn manage:translations en
  app/soapbox/locales/en.json
Due: jest

Restore removed styles
  app/styles/components/status.scss
Due: lint-sass

 These params should never be null, actually
  app/soapbox/actions/auth.ts
  app/soapbox/features/auth-token-list/index.tsx
  app/soapbox/reducers/auth.ts
  app/soapbox/selectors/index.ts
Due: lint-js, jest

GitLab CI: fix default branch rules
  .gitlab-ci.yml
Due: none

Datepicker: correctly default to the current year
  app/soapbox/components/ui/datepicker/datepicker.tsx
Due: lint-js, jest

Datepicker: correctly default to the current year
  CHANGELOG.md
  app/soapbox/components/ui/datepicker/datepicker.tsx
Due: lint-js, jest

Jest: transform blurhash with babel
  jest.config.js
Due: lint-js, jest
