Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

InteractionCounter: use shortNumberFormat
  app/soapbox/features/status/components/status-interaction-bar.tsx
Due: lint-js, jest

More group actions, allow to edit groups, visuals
  app/soapbox/actions/groups.ts
  app/soapbox/components/group-card.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/reducers/group-editor.ts
Due: lint-js, jest

Groups: utilize isDefaultAvatar, isDefaultHeader
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/locales/pl.json
Due: lint-js, jest

Remove unused import
  app/soapbox/components/status.tsx
Due: lint-js, jest

Groups: simple member list
  app/soapbox/features/group/group-members.tsx
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/reducers/group-memberships.ts
Due: lint-js, jest

Groups: Make strings localizable
  app/soapbox/components/group-card.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/group-members.tsx
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/privacy-step.tsx
  app/soapbox/locales/pl.json
  app/soapbox/pages/group-page.tsx
Due: lint-js, jest

Groups: Lint, use PlaceholderAccount for GroupMembers
  app/soapbox/features/birthdays/account.tsx
  app/soapbox/features/group/group-members.tsx
  app/soapbox/features/placeholder/components/placeholder-account.tsx
  app/soapbox/normalizers/account.ts
  app/soapbox/pages/group-page.tsx
Due: lint-js, jest

Remove unused styles
  app/soapbox/components/__tests__/avatar-overlay.test.tsx
  app/soapbox/components/avatar-overlay.tsx
  app/soapbox/normalizers/account.ts
  app/styles/accounts.scss
  app/styles/application.scss
  app/styles/chats.scss
  app/styles/components/aliases.scss
  app/styles/rtl.scss
Due: lint-js, lint-sass, jest

Fix import paths
  app/soapbox/features/theme-editor/components/color.tsx
  app/soapbox/features/theme-editor/components/palette.tsx
Due: lint-js, jest

GitLab CI: let jobs auto-cancel when a new commit is pushed to the same branch
  .gitlab-ci.yml
Due: none

Adding a link to Weblate in our project's homepage
  README.md
Due: none

Groups: Snackbar messages, timelines handling
  app/soapbox/actions/groups.ts
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/status-list.tsx
  app/soapbox/components/status.tsx
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

Groups: use isDefaultHeader
  app/soapbox/features/group/components/group-header.tsx
Due: lint-js, jest

Groups: compose form improvements
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Placeholder group cards
  app/soapbox/actions/groups.ts
  app/soapbox/components/group-card.tsx
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/placeholder/components/placeholder-group-card.tsx
  app/soapbox/reducers/groups.ts
  app/soapbox/selectors/index.ts
Due: lint-js, jest

Groups: add key to group links
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/ui/components/link-footer.tsx
Due: lint-js, jest

Add groups link to sidebar
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/pl.json
Due: lint-js, jest

Groups: fix DetailsStep
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
Due: lint-js, jest

Danger: don't warn about changelog for docs, CI, etc
  dangerfile.ts
Due: lint-js

Groups: allow simple moderation
  app/soapbox/actions/groups.ts
  app/soapbox/components/group-card.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/group-members.tsx
  app/soapbox/locales/pl.json
Due: lint-js, jest

Bundle: componentWillReceiveProps --> UNSAFE_componentWillReceiveProps
  app/soapbox/features/ui/components/bundle.tsx
Due: lint-js, jest

changelog: ability to see quotes, redesigned interactions
  CHANGELOG.md
Due: none

Remove unused sea-blue color
  app/soapbox/normalizers/soapbox/soapbox-config.ts
  app/styles/themes.scss
  tailwind.config.js
  tailwind/__tests__/colors-test.js
Due: lint-js, lint-sass, jest

Theme editor: allow saving theme
  app/soapbox/actions/admin.ts
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/features/theme-editor/index.tsx
Due: lint-js, jest

SoapboxConfig: link to theme editor
  app/soapbox/features/soapbox-config/index.tsx
Due: lint-js, jest

Admin: refactor counters with DashCounter component
  app/soapbox/features/admin/components/dashcounter.tsx
  app/soapbox/features/admin/tabs/dashboard.tsx
  app/styles/components/admin.scss
Due: lint-js, lint-sass, jest

Admin: refactor email list downloads into List, get rid of .dashwidget css
  app/soapbox/features/admin/components/dashcounter.tsx
  app/soapbox/features/admin/tabs/dashboard.tsx
  app/styles/components/admin.scss
Due: lint-js, lint-sass, jest

Admin: redesign registration picker
  app/soapbox/components/radio.tsx
  app/soapbox/features/admin/components/registration-mode-picker.tsx
  app/soapbox/features/admin/tabs/dashboard.tsx
  app/soapbox/features/forms/index.tsx
Due: lint-js, jest

Dashboard: add quick links to Soapbox Config and Moderation Log
  app/soapbox/features/admin/tabs/dashboard.tsx
Due: lint-js, jest

Admin: improve design of Moderation Logs
  app/soapbox/features/admin/moderation-log.tsx
  app/soapbox/reducers/admin-log.ts
  app/soapbox/types/entities.ts
  app/styles/components/admin.scss
Due: lint-js, lint-sass, jest

Admin: restyle unapproved account, delete admin.scss
  app/soapbox/features/admin/components/unapproved-account.tsx
  app/soapbox/features/admin/tabs/awaiting-approval.tsx
  app/styles/application.scss
  app/styles/components/admin.scss
Due: lint-js, lint-sass, jest

CHANGELOG: 3-column layout
  CHANGELOG.md
Due: none

Dashboard: include link to repo for the current commit
  CHANGELOG.md
  app/soapbox/features/admin/tabs/dashboard.tsx
  app/soapbox/utils/code.js
Due: lint-js, jest

changelog typofix
  CHANGELOG.md
Due: none

GitLab CI: let deps job be interrupted
  .gitlab-ci.yml
Due: none

Add Slider component (based on video volume slider)
  app/soapbox/components/ui/index.ts
  app/soapbox/components/ui/slider/slider.tsx
Due: lint-js, jest

ThemeEditor: add hue sliders
  app/soapbox/features/theme-editor/components/palette.tsx
  app/soapbox/utils/theme.ts
Due: lint-js, jest

ThemeEditor: allow resetting the theme (that was harder than I expected)
  app/soapbox/features/theme-editor/components/palette.tsx
  app/soapbox/features/theme-editor/index.tsx
Due: lint-js, jest

utils/download: take a string instead of AxiosResponse
  app/soapbox/features/admin/tabs/dashboard.tsx
  app/soapbox/features/event/components/event-header.tsx
  app/soapbox/utils/download.ts
Due: lint-js, jest

ThemeEditor: allow exporting a theme
  app/soapbox/features/theme-editor/index.tsx
Due: lint-js, jest
