Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Do not include link to profile in ReplyMentionsModal
  app/soapbox/components/account.tsx
  app/soapbox/features/reply-mentions/account.tsx
Due: lint-js, jest

Timelines: prevent max_id=undefined in home timeline requests
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

CHANGELOG: add timeline suggestions
  CHANGELOG.md
Due: none

README: add TMTG
  README.md
Due: none

Letterbox images taller than 1:1
  CHANGELOG.md
  app/soapbox/components/media-gallery.tsx
  app/soapbox/features/placeholder/components/placeholder-media-gallery.tsx
  app/soapbox/features/status/components/card.tsx
  app/soapbox/utils/media-aspect-ratio.ts
Due: lint-js, jest

RTL: fix "x" in birthday input
  app/styles/components/datepicker.scss
Due: lint-sass

useLocale(): refactor to return direction
  app/soapbox/containers/soapbox.tsx
  app/soapbox/hooks/useLocale.ts
Due: lint-js, jest

AutosuggestInput/AutosuggestTextarea: determine RTL by placeholder value as well (hotfix)
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
Due: lint-js, jest

Toast: use HStack, RTL support
  app/soapbox/components/ui/toast/toast.tsx
Due: lint-js, jest

Toast: remove unnecessary outer div
  app/soapbox/components/ui/toast/toast.tsx
Due: lint-js, jest

AutosuggestInput/AutosuggestTextarea: actually, just remove RTL checking. The browser should handle it
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
Due: lint-js, jest

Use Tajwal font for Arabic
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/containers/soapbox.tsx
  package.json
  tailwind.config.js
  types/@fontsource/index.d.ts
  yarn.lock
Due: lint-js, jest

Make all timelines use "home" timeline settings Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1230
  app/soapbox/features/community-timeline/index.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/public-timeline/index.tsx
  app/soapbox/features/ui/components/timeline.tsx
Due: lint-js, jest

Move FloatingActionButton to its own component
  app/soapbox/features/ui/components/floating-action-button.tsx
  app/soapbox/features/ui/index.tsx
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Refactor ComposeButton, FAB, and sidebar nav spacing
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/ui/button/button.tsx
  app/soapbox/features/ui/components/compose-button.tsx
  app/soapbox/features/ui/components/floating-action-button.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Move FAB to the left in RTL
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Fix threads in RTL
  app/styles/components/detailed-status.scss
Due: lint-sass

StatusActionButton: fix spacing in RTL
  app/soapbox/components/status-action-button.tsx
Due: lint-js, jest

SidebarMenu: fix RTL
  app/styles/components/sidebar-menu.scss
Due: lint-sass

Status: fix reblogElement in RTL
  app/soapbox/components/status.tsx
Due: lint-js, jest

Navbar: fix position of avatar in RTL on mobile
  app/soapbox/features/ui/components/navbar.tsx
Due: lint-js, jest

Revert "AutosuggestInput/AutosuggestTextarea: actually, just remove RTL checking. The browser should handle it"
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
Due: lint-js, jest

AutosuggestInput/AutosuggestTextarea: fix RTL detection with placeholder
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
Due: lint-js, jest

Search: prevent overflow of text into icon
  app/soapbox/features/compose/components/search.tsx
Due: lint-js, jest

AutosuggestInput/AutosuggestTextarea: short-circuit RTL check earlier
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
Due: lint-js, jest

Fix mentions in RTL
  app/soapbox/components/account.tsx
  app/soapbox/features/ui/components/profile-info-panel.tsx
  app/soapbox/hooks/useLocale.ts
  app/styles/components/reply-mentions.scss
Due: lint-js, lint-sass, jest

Infer quote_id from links in status content
  app/soapbox/actions/compose.ts
Due: lint-js, jest

Move getStatusIdsFromContent to utils/status
  app/soapbox/actions/compose.ts
  app/soapbox/utils/status.ts
Due: lint-js, jest

Update changelog
  CHANGELOG.md
Due: none

rename function
  app/soapbox/actions/compose.ts
  app/soapbox/utils/status.ts
Due: lint-js, jest

Gate events with `features.includes('events')`
  app/soapbox/utils/features.ts
Due: lint-js, jest

Prepare for v3.0.0
  CHANGELOG.md
Due: none

Convert (legacy?) IconButton to tsx, remove unused code/styles
  app/soapbox/components/icon-button.js
  app/soapbox/components/icon-button.tsx
  app/soapbox/features/compose/components/text-icon-button.tsx
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Prepare for 3.1.x
  CHANGELOG.md
  package.json
Due: jest

Fix CHANGELOG
  CHANGELOG.md
Due: none

WIP TypeScript convertions
  app/soapbox/actions/__tests__/me.test.ts
  app/soapbox/actions/admin.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/instance.ts
  app/soapbox/actions/me.ts
  app/soapbox/api/index.ts
  app/soapbox/components/icon-button.tsx
  app/soapbox/features/admin/user-index.js
  app/soapbox/features/admin/user-index.tsx
  app/soapbox/features/auth-token-list/index.tsx
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/developers/settings-store.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/pages/admin-page.tsx
  app/soapbox/reducers/__tests__/auth.test.ts
  app/soapbox/reducers/admin-user-index.ts
  app/soapbox/reducers/auth.ts
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/soapbox.ts
  app/soapbox/selectors/index.ts
  app/soapbox/utils/auth.ts
Due: lint-js, jest

Remove unused styles/components
  app/soapbox/components/__tests__/avatar-overlay.test.tsx
  app/soapbox/components/avatar-overlay.tsx
  app/soapbox/components/status.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/placeholder/components/placeholder-account.tsx
  app/soapbox/features/scheduled-statuses/components/scheduled-status.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/ui/components/pending-status.tsx
  app/soapbox/features/ui/components/who-to-follow-panel.tsx
  app/styles/_mixins.scss
  app/styles/accounts.scss
  app/styles/application.scss
  app/styles/boost.scss
  app/styles/chats.scss
  app/styles/components/aliases.scss
  app/styles/components/backups.scss
  app/styles/components/columns.scss
  app/styles/components/datepicker.scss
  app/styles/components/display-name.scss
  app/styles/components/filters.scss
  app/styles/components/modal.scss
  app/styles/components/profile-hover-card.scss
  app/styles/components/react-toggle.scss
  app/styles/dyslexic.scss
  app/styles/forms.scss
  app/styles/placeholder.scss
  app/styles/rtl.scss
  app/styles/themes.scss
  app/styles/ui.scss
  app/styles/variables.scss
Due: lint-js, lint-sass, jest

Update immutable-js, fix tests, fix reducers/auth
  app/soapbox/actions/auth.ts
  app/soapbox/components/status.tsx
  app/soapbox/features/auth-token-list/index.tsx
  app/soapbox/middleware/errors.ts
  app/soapbox/pages/admin-page.tsx
  app/soapbox/reducers/__tests__/auth.test.ts
  app/soapbox/reducers/__tests__/modals.test.ts
  app/soapbox/reducers/admin.ts
  app/soapbox/reducers/auth.ts
  app/soapbox/selectors/index.ts
  app/styles/themes.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

fix auth state persistence
  app/soapbox/reducers/auth.ts
Due: lint-js, jest

Remove unused styles
  app/soapbox/features/follow-requests/components/account-authorize.tsx
  app/styles/accounts.scss
  app/styles/application.scss
  app/styles/components/account-header.scss
  app/styles/components/modal.scss
  app/styles/components/status.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest
