Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Fix 'Overly long content warning spills over the banner'
  app/soapbox/components/quoted-status.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/statuses/sensitive-content-overlay.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  package.json
  tailwind.config.js
  yarn.lock
Due: lint-js, jest

Remove unused styles, also fix #1180
  app/soapbox/components/domain.tsx
  app/soapbox/features/account-timeline/components/moved-note.tsx
  app/soapbox/features/aliases/index.tsx
  app/soapbox/features/domain-blocks/index.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/bundle-modal-error.tsx
  app/soapbox/features/ui/components/modal-loading.tsx
  app/soapbox/features/ui/components/profile-media-panel.tsx
  app/styles/accounts.scss
  app/styles/application.scss
  app/styles/chats.scss
  app/styles/components/account-header.scss
  app/styles/components/columns.scss
  app/styles/components/compose-form.scss
  app/styles/components/detailed-status.scss
  app/styles/components/display-name.scss
  app/styles/components/emoji-reacts.scss
  app/styles/components/media-gallery.scss
  app/styles/components/modal.scss
  app/styles/components/profile-info-panel.scss
  app/styles/components/profile-media-panel.scss
  app/styles/components/reply-mentions.scss
  app/styles/components/search.scss
  app/styles/components/spoiler-button.scss
  app/styles/components/status.scss
  app/styles/components/video-player.scss
  app/styles/demetricator.scss
  app/styles/forms.scss
  app/styles/rtl.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Wrap chat settings in feature flag
  app/soapbox/features/settings/index.tsx
Due: lint-js, jest

Clear cache from React Query on logout
  app/soapbox/actions/auth.ts
Due: lint-js, jest

Add blocked message
  app/soapbox/features/chats/components/chat-list-item.tsx
Due: lint-js, jest

Align avatar to bottom
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

improved Czech language localization + changed a few hard-coded strings to localized ones
  app/soapbox/features/compose/components/polls/poll-form.tsx
  app/soapbox/features/ui/components/modals/report-modal/report-modal.tsx
  app/soapbox/locales/cs.json
Due: lint-js, jest

Scaffold features editor
  app/soapbox/features/developers/features-editor.tsx
  app/soapbox/features/features-panel/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

Update design to likes / reposts in interaction bar
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Update design for emoji reacts
  app/soapbox/features/status/components/status-interaction-bar.tsx
Due: lint-js, jest

Describe how to install Soapbox for Pleroma OTP
  README.md
Due: none

Clear cache from React Query on change account
  app/soapbox/actions/auth.ts
Due: lint-js, jest

replaced intl.formatMessage() call with <FormattedMessage> element + translated a couple of more strings into Czech
  app/soapbox/features/compose/components/polls/poll-form.tsx
  app/soapbox/locales/cs.json
Due: lint-js, jest

Fix PollForm i18n delete message
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/compose/components/polls/poll-form.tsx
  app/soapbox/locales/ast.json
  app/soapbox/locales/bg.json
  app/soapbox/locales/br.json
  app/soapbox/locales/cs.json
  app/soapbox/locales/ga.json
  app/soapbox/locales/hi.json
  app/soapbox/locales/hr.json
  app/soapbox/locales/hy.json
  app/soapbox/locales/io.json
  app/soapbox/locales/ka.json
  app/soapbox/locales/lt.json
  app/soapbox/locales/lv.json
  app/soapbox/locales/mk.json
  app/soapbox/locales/ms.json
  app/soapbox/locales/no.json
  app/soapbox/locales/ro.json
  app/soapbox/locales/sq.json
  app/soapbox/locales/sr-Latn.json
  app/soapbox/locales/sr.json
Due: lint-js, jest

Sensitive video refactor Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1190
  app/soapbox/components/status-media.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
  app/soapbox/features/ui/components/modals/video-modal.tsx
  app/soapbox/features/video/index.tsx
Due: lint-js, jest

Audio: prevent focusing the status when clicked Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1191
  app/soapbox/features/audio/index.tsx
Due: lint-js, jest

Status: prevent selecting text from navigating to the status Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/901
  app/soapbox/components/status.tsx
Due: lint-js, jest

Stop mouseUp propagation in statuses
  app/soapbox/components/account.tsx
  app/soapbox/components/polls/poll.tsx
  app/soapbox/components/quoted-status.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/status-media.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/statuses/sensitive-content-overlay.tsx
  app/soapbox/components/stop-propagation.tsx
  app/soapbox/components/ui/button/button.tsx
  app/soapbox/components/ui/hstack/hstack.tsx
Due: lint-js, jest

TranslateButton: stopPropagation()
  app/soapbox/components/translate-button.tsx
Due: lint-js, jest

ProfileDropdown: allow clicking accounts again
  app/soapbox/features/ui/components/profile-dropdown.tsx
Due: lint-js, jest

StopPropagation: let it be disabled
  app/soapbox/components/stop-propagation.tsx
Due: lint-js, jest

StatusContent: prevent bubbling of mentions, links, hashtags, and "Read more" button
  app/soapbox/components/status-content.tsx
Due: lint-js, jest

StatusReplyMentions: prevent bubbling
  app/soapbox/components/status-reply-mentions.tsx
Due: lint-js, jest

Remove unnecessary stopPropagation() calls
  app/soapbox/features/audio/index.tsx
  app/soapbox/features/video/index.tsx
Due: lint-js, jest

Translations: strip compatibility features from HTML
  app/soapbox/reducers/statuses.ts
Due: lint-js, jest

Remove .spoiler-button styles
  app/styles/application.scss
  app/styles/chats.scss
  app/styles/components/media-gallery.scss
  app/styles/components/spoiler-button.scss
Due: lint-sass

Video: remove spoiler styles
  app/styles/components/video-player.scss
Due: lint-sass

Add <Markup> component to style markup from the API
  app/soapbox/components/markup.css
  app/soapbox/components/markup.tsx
  app/soapbox/components/status-content.tsx
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/features/ui/components/profile-fields-panel.tsx
  app/soapbox/features/ui/components/profile-info-panel.tsx
  app/soapbox/normalizers/account.ts
Due: lint-js, lint-sass, jest

LandingPage: use Markup component for instance description
  app/soapbox/features/landing-page/index.tsx
  app/soapbox/features/landing-page/instance-description.css
Due: lint-js, lint-sass, jest

AutosuggestAccount: let account be clicked
  app/soapbox/features/compose/components/autosuggest-account.tsx
Due: lint-js, jest

Revert "Merge branch 'autosuggest-profiles-fix' into 'develop'"
  app/soapbox/features/compose/components/autosuggest-account.tsx
Due: lint-js, jest

Revert "Merge branch 'mouseup' into 'develop'"
  app/soapbox/components/account.tsx
  app/soapbox/components/polls/poll.tsx
  app/soapbox/components/quoted-status.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/status-content.tsx
  app/soapbox/components/status-media.tsx
  app/soapbox/components/status-reply-mentions.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/statuses/sensitive-content-overlay.tsx
  app/soapbox/components/stop-propagation.tsx
  app/soapbox/components/translate-button.tsx
  app/soapbox/components/ui/button/button.tsx
  app/soapbox/components/ui/hstack/hstack.tsx
  app/soapbox/features/audio/index.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/features/video/index.tsx
Due: lint-js, jest

Status: switch back to onClick instead of onMouseUp
  app/soapbox/components/status.tsx
Due: lint-js, jest

StatusActionBar: stop propogation in parent div instead of each element individually
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/ui/hstack/hstack.tsx
Due: lint-js, jest

StatusMedia: stop propagation from element root
  app/soapbox/components/status-media.tsx
Due: lint-js, jest

StillImage: make it play nice with Tailwind, remove still-image.scss
  app/soapbox/components/media-gallery.tsx
  app/soapbox/components/still-image.tsx
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

Remove .still-image css, display "GIF" badge in media when autoPlayGif is off
  app/soapbox/components/media-gallery.tsx
  app/soapbox/components/still-image.tsx
  app/styles/accounts.scss
  app/styles/application.scss
  app/styles/chats.scss
  app/styles/components/media-gallery.scss
  app/styles/components/still-image.scss
Due: lint-js, lint-sass, jest

Remove 'soapbox' icon font
  app/assets/fonts/soapbox/soapbox.eot
  app/assets/fonts/soapbox/soapbox.svg
  app/assets/fonts/soapbox/soapbox.ttf
  app/assets/fonts/soapbox/soapbox.woff
  app/styles/fonts.scss
Due: lint-sass

Fix letterboxing remote statuses
  app/styles/components/media-gallery.scss
Due: lint-sass
