Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Remove 'entities' dep
  package.json
  yarn.lock
Due: jest

wip lexical
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/components/markup.css
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/compose/components/upload-form.tsx
  app/soapbox/features/compose/editor/index.tsx
  app/soapbox/features/compose/editor/nodes.ts
  app/soapbox/features/compose/editor/plugins/floating-link-editor-plugin.tsx
  app/soapbox/features/compose/editor/plugins/floating-text-format-toolbar-plugin.tsx
  app/soapbox/features/compose/editor/plugins/link-plugin.tsx
  app/soapbox/features/compose/editor/utils/get-dom-range-rect.ts
  app/soapbox/features/compose/editor/utils/get-selected-node.ts
  app/soapbox/features/compose/editor/utils/set-floating-elem-position.ts
  app/soapbox/features/compose/editor/utils/url.ts
  app/soapbox/features/ui/index.tsx
  app/styles/components/compose-form.scss
  app/styles/forms.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

wip lexical
  app/soapbox/actions/compose.ts
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/compose/components/markdown-button.tsx
  app/soapbox/features/compose/editor/index.tsx
  app/styles/application.scss
  app/styles/components/compose-form.scss
  app/styles/components/lexical.scss
  app/styles/ui.scss
  yarn.lock
Due: lint-js, lint-sass, jest

Fix scheduled statuses page crashing on delete
  app/soapbox/features/scheduled-statuses/components/scheduled-status.tsx
Due: lint-js, jest

Append scheduled statuses to status list
  app/soapbox/reducers/status-lists.ts
Due: lint-js, jest

Set scheduled post date to 10 minutes after current time
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Update file CHANGELOG.md
  CHANGELOG.md
Due: none

Update dependencies - multiple tweaks.
  .eslintrc.js
  .gitignore
  app/soapbox/actions/me.ts
  app/soapbox/build-config.js
  app/soapbox/features/emoji/emoji-compressed.js
  app/soapbox/features/emoji/emoji-picker.js
  app/soapbox/features/soapbox-config/components/icon-picker-menu.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/load-polyfills.ts
  babel.config.js
  package.json
  update-yarn.cmd
  update-yarn.sh
  webpack/shared.ts
  yarn.lock
Due: lint-js, jest

Force jsonwebtoken dependency to ^9.0 [dependabot]
  package.json
  yarn.lock
Due: jest

Force json5 to version ^2.2.2 to resolve dependency issue [dependabot]
  package.json
  yarn.lock
Due: jest

Fix test
  app/soapbox/actions/__tests__/me.test.ts
  app/soapbox/utils/auth.ts
Due: lint-js, jest

Update jest monorepo to v29
  package.json
  yarn.lock
Due: jest

Fix images in timelines not using the preview URL which can leverage Pleroma Media Preview Proxy
  app/soapbox/components/media-gallery.tsx
Due: lint-js, jest

Let media preview be configurable
  app/soapbox/components/media-gallery.tsx
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/normalizers/soapbox/soapbox-config.ts
Due: lint-js, jest

CHANGELOG: media preview configuration
  CHANGELOG.md
Due: none

Add missing locale strings from mediaPreview settings Whoops https://gitlab.com/soapbox-pub/soapbox/-/merge_requests/2110
  app/soapbox/locales/en.json
Due: jest

Update update-yarn.cmd
  update-yarn.cmd
Due: none

Improve UI/UX of the Feed Carousel
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

oauth/revoke: use the baseURL of the current user for the API request
  app/soapbox/actions/oauth.ts
Due: lint-js, jest

Fix bug with Feed Carousel
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

Update dependency eslint to v8
  package.json
  yarn.lock
Due: jest

Update dependency stylelint-scss to v4
  package.json
  yarn.lock
Due: jest

Update features.ts for Takahē
  app/soapbox/normalizers/instance.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update yarn lockfile
  yarn.lock
Due: jest

Merge minor fixes and tweaks
  app/assets/icons/verified.svg
  app/soapbox/features/soapbox-config/components/footer-link-input.tsx
  app/soapbox/features/ui/components/link-footer.tsx
  package.json
Due: lint-js, jest

re-arrange example files for custom configurations
  app/instance/slug.txt
  custom/instance/about.example/dmca.html
  custom/instance/about.example/index.html
  custom/instance/about.example/privacy.html
  custom/instance/about.example/tos.html
  custom/instance/soapbox.example.json
Due: jest

Update README.md
  README.md
Due: none

Fix events location search crash
  app/soapbox/components/autosuggest-location.tsx
Due: lint-js, jest

CHANGELOG: fix events crash
  CHANGELOG.md
Due: none

babel-eslint --> @babel/eslint-parser
  .eslintrc.js
  package.json
  yarn.lock
Due: lint-js, jest

yarn lint:js --fix
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/components/dropdown-menu.tsx
  app/soapbox/components/emoji-selector.tsx
  app/soapbox/components/error-boundary.tsx
  app/soapbox/features/audio/visualizer.ts
  app/soapbox/features/ui/components/bundle.tsx
  app/soapbox/features/ui/components/image-loader.tsx
  app/soapbox/features/ui/components/modal-root.tsx
  app/soapbox/features/ui/components/zoomable-image.tsx
Due: lint-js, jest

ServiceWorker: drop empty push events
  app/soapbox/service-worker/web-push-notifications.ts
Due: lint-js, jest

ServiceWorker: console.error on empty push event
  app/soapbox/service-worker/web-push-notifications.ts
Due: lint-js, jest

Update dependency @testing-library/react to v13
  package.json
  yarn.lock
Due: jest

Update dependency babel-loader to v9
  package.json
  yarn.lock
Due: jest

Update dependency emoji-datasource to v14
  package.json
  yarn.lock
Due: jest

Update dependency eslint-plugin-promise to v6
  package.json
  yarn.lock
Due: jest

Update dependency history to v5
  package.json
  yarn.lock
Due: jest

Update dependency husky to v8
  package.json
  yarn.lock
Due: jest

Update dependency uuid to v9
  package.json
  yarn.lock
Due: jest
