Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

ThemeEditor: allow importing a theme
  app/soapbox/features/theme-editor/index.tsx
Due: lint-js, jest

ThemeEditor: restore default theme
  app/soapbox/features/theme-editor/index.tsx
Due: lint-js, jest

ThemeEditor: configure single-color items
  app/soapbox/features/theme-editor/index.tsx
Due: lint-js, jest

ThemeEditor: improve layout, improve color of slider
  app/soapbox/components/ui/slider/slider.tsx
  app/soapbox/features/theme-editor/index.tsx
Due: lint-js, jest

ThemeEditor: add HSL togglers
  app/soapbox/components/ui/slider/slider.tsx
  app/soapbox/features/theme-editor/components/hsl-toggler.tsx
  app/soapbox/features/theme-editor/components/palette.tsx
  app/soapbox/utils/theme.ts
Due: lint-js, jest

ThemeEditor: store colors as HSL
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/theme-editor/components/palette.tsx
  app/soapbox/features/theme-editor/index.tsx
  app/soapbox/types/colors.ts
  app/soapbox/utils/tailwind.ts
  app/soapbox/utils/theme.ts
Due: lint-js, jest

changelog: theme editor
  CHANGELOG.md
Due: none

Groups: Hide ComposeForm if not a member, add Media panel
  app/soapbox/actions/timelines.ts
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/features/ui/components/group-media-panel.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/pages/group-page.tsx
  app/soapbox/selectors/index.ts
Due: lint-js, jest

Improve media panel styles
  app/soapbox/features/ui/components/group-media-panel.tsx
  app/soapbox/features/ui/components/profile-media-panel.tsx
Due: lint-js, jest

Manage group pages
  app/soapbox/actions/groups.ts
  app/soapbox/components/account.tsx
  app/soapbox/components/status.tsx
  app/soapbox/containers/group-container.tsx
  app/soapbox/features/compose/components/search-results.tsx
  app/soapbox/features/directory/components/account-card.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/group-blocked-members.tsx
  app/soapbox/features/group/group-members.tsx
  app/soapbox/features/group/group-membership-requests.tsx
  app/soapbox/features/group/manage-group.tsx
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/scheduled-statuses/components/scheduled-status.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/manage-group-modal.tsx
  app/soapbox/features/ui/components/pending-status.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/pl.json
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Support Mastodon permissions system(?)
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/ui/components/panels/new-group-panel.tsx
  app/soapbox/normalizers/account.ts
  app/soapbox/utils/permissions.ts
Due: lint-js, jest

List groups-related endpoints
  app/soapbox/utils/features.ts
Due: lint-js, jest

Fix demo mode
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/developers/settings-store.tsx
Due: lint-js, jest

CHANGELOG: mention RTL support
  CHANGELOG.md
Due: none

CHANGELOG: add i18n notes
  CHANGELOG.md
Due: none

Settings: Messages --> Chats, reword follow criteria
  app/soapbox/features/settings/components/messages-settings.tsx
  app/soapbox/features/settings/index.tsx
Due: lint-js, jest

Hide button to chat with yourself Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1258
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

Groups: Status action bar actions
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/ui/components/who-to-follow-panel.tsx
Due: lint-js, jest

Overhaul README
  README.md
  soapbox-screenshot.png
Due: none

README: clean up copyright, move sounds licenses to a separate file
  README.md
  app/assets/sounds/LICENSE.md
Due: none

Remove my instance from the list
  README.md
Due: none

Improve permissions check
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/ui/components/panels/new-group-panel.tsx
  app/soapbox/normalizers/account.ts
  app/soapbox/reducers/accounts-meta.ts
  app/soapbox/utils/permissions.ts
Due: lint-js, jest

Fix overflow issue on mobile
  app/soapbox/features/chats/components/chat-page/components/welcome.tsx
Due: lint-js, jest

Introduce new Toast module
  app/soapbox/__tests__/toast.test.tsx
  app/soapbox/jest/test-helpers.tsx
  app/soapbox/toast.tsx
  package.json
  tailwind.config.js
  yarn.lock
Due: lint-js, jest

Convert 'show' usage to Toast
  app/soapbox/main.tsx
Due: lint-js, jest

Convert 'info' usage to Toast
  app/soapbox/features/admin/components/unapproved-account.tsx
  app/soapbox/features/auth-login/components/password-reset.tsx
Due: lint-js, jest

Convert 'error' usage to Toast
  app/soapbox/actions/auth.ts
  app/soapbox/actions/compose.ts
  app/soapbox/actions/events.ts
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/chats/components/chat-search/chat-search.tsx
  app/soapbox/features/delete-account/index.tsx
  app/soapbox/features/developers/developers-challenge.tsx
  app/soapbox/features/edit-email/index.tsx
  app/soapbox/features/edit-password/index.tsx
  app/soapbox/features/edit-profile/index.tsx
  app/soapbox/features/email-confirmation/index.tsx
  app/soapbox/features/external-login/components/external-login-form.tsx
  app/soapbox/features/filters/index.tsx
  app/soapbox/features/migration/index.tsx
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/security/mfa/disable-otp-form.tsx
  app/soapbox/features/security/mfa/enable-otp-form.tsx
  app/soapbox/features/security/mfa/otp-confirm-form.tsx
  app/soapbox/features/ui/components/modals/unauthorized-modal.tsx
  app/soapbox/features/ui/components/modals/verify-sms-modal.tsx
  app/soapbox/features/ui/components/subscription-button.tsx
  app/soapbox/features/verification/email-passthru.tsx
  app/soapbox/features/verification/registration.tsx
  app/soapbox/features/verification/steps/age-verification.tsx
Due: lint-js, jest

Convert 'success' usage to Toast
  app/soapbox/actions/aliases.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/compose.ts
  app/soapbox/actions/events.ts
  app/soapbox/actions/export-data.ts
  app/soapbox/actions/filters.ts
  app/soapbox/actions/import-data.ts
  app/soapbox/actions/interactions.ts
  app/soapbox/actions/moderation.tsx
  app/soapbox/actions/security.ts
  app/soapbox/actions/settings.ts
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/admin/components/registration-mode-picker.tsx
  app/soapbox/features/admin/components/report.tsx
  app/soapbox/features/admin/components/unapproved-account.tsx
  app/soapbox/features/delete-account/index.tsx
  app/soapbox/features/developers/developers-challenge.tsx
  app/soapbox/features/developers/developers-menu.tsx
  app/soapbox/features/edit-email/index.tsx
  app/soapbox/features/edit-password/index.tsx
  app/soapbox/features/edit-profile/index.tsx
  app/soapbox/features/email-confirmation/index.tsx
  app/soapbox/features/migration/index.tsx
  app/soapbox/features/security/mfa/disable-otp-form.tsx
  app/soapbox/features/security/mfa/otp-confirm-form.tsx
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/features/theme-editor/index.tsx
  app/soapbox/features/ui/components/modals/account-moderation-modal/account-moderation-modal.tsx
  app/soapbox/features/ui/components/modals/account-moderation-modal/staff-role-picker.tsx
  app/soapbox/features/ui/components/modals/edit-federation-modal.tsx
  app/soapbox/features/ui/components/modals/verify-sms-modal.tsx
  app/soapbox/features/ui/components/subscription-button.tsx
  app/soapbox/features/verification/email-passthru.tsx
  app/soapbox/features/verification/registration.tsx
  app/soapbox/features/verification/steps/email-verification.tsx
  app/soapbox/features/verification/steps/sms-verification.tsx
  app/soapbox/queries/accounts.ts
  app/soapbox/queries/chats.ts
Due: lint-js, jest

Fix tests
  app/soapbox/__tests__/toast.test.tsx
  app/soapbox/actions/__tests__/compose.test.ts
  app/soapbox/features/verification/steps/__tests__/email-verification.test.tsx
  app/soapbox/features/verification/steps/__tests__/sms-verification.test.tsx
  app/soapbox/jest/test-setup.ts
Due: lint-js, jest

Improve UI of toast
  app/soapbox/toast.tsx
Due: lint-js, jest

Fix tests
  app/soapbox/components/ui/accordion/accordion.tsx
  app/soapbox/hooks/useAccount.ts
Due: lint-js, jest

Remove unused styles
  app/soapbox/features/chats/components/chat-page/components/welcome.tsx
  app/soapbox/features/compose/components/text-icon-button.tsx
  app/styles/accounts.scss
  app/styles/application.scss
  app/styles/components/aliases.scss
  app/styles/components/columns.scss
  app/styles/components/display-name.scss
  app/styles/components/filters.scss
  app/styles/components/modal.scss
  app/styles/components/profile-hover-card.scss
  app/styles/dyslexic.scss
  app/styles/forms.scss
  app/styles/placeholder.scss
  app/styles/rtl.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Remove unused variables
  app/styles/components/datepicker.scss
  app/styles/components/react-toggle.scss
  app/styles/forms.scss
  app/styles/themes.scss
Due: lint-sass

Remove 'react-notification'
  package.json
  yarn.lock
Due: jest

Move Toast to components/ui
  app/soapbox/components/ui/index.ts
  app/soapbox/components/ui/toast/toast.tsx
  app/soapbox/toast.tsx
Due: lint-js, jest

Add Changelog entry
  CHANGELOG.md
Due: none

styles cleanup
  app/styles/_mixins.scss
  app/styles/accounts.scss
  app/styles/application.scss
  app/styles/basics.scss
  app/styles/boost.scss
  app/styles/components/backups.scss
  app/styles/components/columns.scss
  app/styles/components/compose-form.scss
  app/styles/components/crypto-donate.scss
  app/styles/components/inputs.scss
  app/styles/components/media-gallery.scss
  app/styles/components/modal.scss
  app/styles/components/search.scss
  app/styles/components/status.scss
  app/styles/forms.scss
  app/styles/loading.scss
  app/styles/themes.scss
  app/styles/ui.scss
  app/styles/variables.scss
Due: lint-sass

Add support for pinning an avatar in the Carousel
  app/soapbox/features/feed-filtering/feed-carousel.tsx
  app/soapbox/features/placeholder/components/placeholder-avatar.tsx
Due: lint-js, jest

Fix tests
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
