Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Remove unused styles
  app/styles/rtl.scss
Due: lint-sass

Remove legacy avatar component, convert AccountContainer to TS/FC
  app/soapbox/components/__tests__/avatar.test.tsx
  app/soapbox/components/account.tsx
  app/soapbox/components/avatar.tsx
  app/soapbox/containers/account-container.js
  app/soapbox/containers/account-container.tsx
  app/soapbox/features/admin/components/report.tsx
  app/soapbox/features/birthdays/account.tsx
  app/soapbox/features/ui/components/user-panel.tsx
Due: lint-js, jest

Don't serve favicon.png with ServiceWorker
  webpack/production.ts
Due: lint-js, jest

restore style
  app/styles/components/display-name.scss
Due: lint-sass

Support Takahē
  app/soapbox/actions/scheduled-statuses.ts
  app/soapbox/actions/trending-statuses.ts
  app/soapbox/features/settings/index.tsx
  app/soapbox/normalizers/instance.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

use capitalized name
  app/soapbox/normalizers/instance.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Use accent color for "floating action button" (mobile compose button).
  CHANGELOG.md
  app/soapbox/features/ui/components/floating-action-button.tsx
Due: lint-js, jest

Refactor sidebar to fix position of close (X) icon
  app/soapbox/components/sidebar-menu.tsx
  app/styles/application.scss
  app/styles/components/sidebar-menu.scss
Due: lint-js, lint-sass, jest

Add 'truncate' class to Select
  app/soapbox/components/ui/select/select.tsx
Due: lint-js, jest

Add template for easy before/after screenshots
  .gitlab/merge_request_templates/BeforeAndAfter.md
Due: none

Fix dark mode of Feed Carousel pagination
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

Respect the response header 'link' in Timelines
  app/soapbox/actions/timelines.ts
  app/soapbox/features/feed-filtering/feed-carousel.tsx
  app/soapbox/features/home-timeline/index.tsx
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

Ignore 'next' on pinned timeline
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

fix streaming url
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Add changelog script
  scripts/changelog.ts
Due: lint-js

Automatically release when tag is pushed to CI
  .gitlab-ci.yml
Due: none

CHANGELOG: add Takahē, sw.js whitelist
  CHANGELOG.md
Due: none

Move translationRunner under scripts/
  package.json
  scripts/translationRunner.ts
Due: lint-js, jest

Upgrade yargs to 17.x
  package.json
  yarn.lock
Due: jest

trnaslationRunner: import yargs
  scripts/translationRunner.ts
Due: lint-js

GitLab CI: fail the CI if en.json isn't updated with the codebase
  .gitlab-ci.yml
Due: none

GitLab CI: enable dependency scanning
  .gitlab-ci.yml
Due: none

Move i18n into build job
  .gitlab-ci.yml
Due: none

yarn manage:translations en
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/en.json
Due: jest

Delete defaultMessages.json
  app/soapbox/locales/defaultMessages.json
  scripts/translationRunner.ts
Due: lint-js, jest

renovate.json: delete github access token
  renovate.json
Due: jest

remove unused styles
  app/styles/rtl.scss
Due: lint-sass

Do not make requests to chats endpoint from profile page if chats are not supported
  app/soapbox/features/chats/components/chat-pane/__tests__/chat-pane.test.tsx
  app/soapbox/queries/__tests__/chats.test.ts
  app/soapbox/queries/chats.ts
Due: lint-js, jest

Ensure Renovate updates the Yarn.lock file
  renovate.json
Due: jest

Fix undefined bug with MediaModal
  app/soapbox/features/account-gallery/index.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
  app/soapbox/features/ui/components/profile-media-panel.tsx
Due: lint-js, jest

Fix 'req not defined' error
  app/soapbox/api/index.ts
  app/soapbox/components/autosuggest-account-input.tsx
Due: lint-js, jest

Lint
  app/soapbox/features/ui/components/modals/media-modal.tsx
Due: lint-js, jest

Fix test
  app/soapbox/features/compose/components/__tests__/search.test.tsx
Due: lint-js, jest

GitLab CI: add license scanning
  .gitlab-ci.yml
Due: none

Allow configuration from root URL path
  app/soapbox/features/public-layout/index.tsx
  app/soapbox/normalizers/soapbox/soapbox-config.ts
Due: lint-js, jest

Revert "Merge branch 'square' into 'develop'"
  CHANGELOG.md
  app/soapbox/components/media-gallery.tsx
  app/soapbox/features/placeholder/components/placeholder-media-gallery.tsx
  app/soapbox/features/status/components/card.tsx
  app/soapbox/utils/media-aspect-ratio.ts
Due: lint-js, jest

CHANGELOG: letterboxing changes
  CHANGELOG.md
Due: none

Update dependency @types/react-motion to ^0.0.33
  package.json
  yarn.lock
Due: jest

Update dependency emoji-datasource to v5.0.1
  package.json
  yarn.lock
Due: jest

Update docker Docker tag to v20.10.22
  .gitlab-ci.yml
Due: none
