Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Remove unneeded code from AccountSearch
  app/soapbox/components/account-search.tsx
  app/soapbox/components/autosuggest-account-input.tsx
  app/soapbox/components/autosuggest-input.tsx
Due: lint-js, jest

Reduce size of ellipsis icon
  app/soapbox/features/chats/components/chat-list-item.tsx
  app/soapbox/features/chats/components/chat-list.tsx
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Fix tests
  app/soapbox/features/chats/components/chat-search/__tests__/chat-search.test.tsx
  app/soapbox/features/chats/components/chat-search/empty-results-blankslate.tsx
Due: lint-js, jest

queries/search: use flattenPages util
  app/soapbox/queries/search.ts
Due: lint-js, jest

Fix spacing bug
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Remove 2 minute expiration
  app/soapbox/features/chats/components/chat-page/components/chat-page-main.tsx
  app/soapbox/queries/chats.ts
Due: lint-js, jest

Fix expiration values
  app/soapbox/queries/chats.ts
Due: lint-js, jest

Default header should not be clickable
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/event/components/event-header.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
Due: lint-js, jest

Move isDefaultHeader and isDefaultAvatar to utils/accounts
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/aliases/index.tsx
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  app/soapbox/features/ui/components/modals/policy-modal.tsx
  app/soapbox/features/ui/components/modals/report-modal/report-modal.tsx
  app/soapbox/middleware/sounds.ts
  app/soapbox/utils/accounts.ts
Due: lint-js, jest

Fix avatar ring
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

Reduce size of timestamp
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Re-order chat-list after sending messaging
  app/soapbox/queries/chats.ts
  app/soapbox/utils/chats.ts
Due: lint-js, jest

Fix sorting of Chat List
  app/soapbox/utils/chats.ts
  app/soapbox/utils/queries.ts
Due: lint-js, jest

Revert flattenPages order changes
  app/soapbox/utils/chats.ts
  app/soapbox/utils/queries.ts
Due: lint-js, jest

some basic groups ui
  app/soapbox/actions/compose.ts
  app/soapbox/actions/importer/index.ts
  app/soapbox/components/status.tsx
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/components/group-info-panel.tsx
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/pages/group-page.tsx
  app/soapbox/reducers/compose.ts
  app/soapbox/reducers/statuses.ts
  app/soapbox/selectors/index.ts
Due: lint-js, jest

ita mobile patch
  app/soapbox/locales/it.json
Due: jest

Remove mocks
  app/soapbox/queries/__tests__/chats.test.ts
  app/soapbox/utils/__mocks__/queries.ts
Due: lint-js, jest

Add Inter 600, fix ChatPaneHeader font weight
  app/soapbox/features/chats/components/chat-widget/chat-pane-header.tsx
  app/styles/application.scss
Due: lint-js, lint-sass, jest

Markup: use whitespace-pre-wrap (fix multiline bios on Mastodon)
  app/soapbox/components/markup.css
Due: lint-sass, jest

Add spacing above textarea
  app/soapbox/pages/home_page.tsx
Due: lint-js, jest

Allow tab continuation on Email confirmation
  app/soapbox/actions/verification.ts
  app/soapbox/features/verification/email-passthru.tsx
Due: lint-js, jest

HomePage: shift the ComposeForm with translate-y instead of pt
  app/soapbox/pages/home-page.tsx
Due: lint-js, jest

Revert "Merge branch 'carousel-v2' into 'develop'"
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
  app/soapbox/features/feed-filtering/feed-carousel.tsx
  app/soapbox/queries/__tests__/carousels.test.ts
  app/soapbox/queries/__tests__/suggestions.test.ts
  app/soapbox/queries/carousels.ts
Due: lint-js, jest

features.feedUserFiltering --> features.carousel
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
  app/soapbox/pages/home-page.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Carousel: make `seen` optional, only hit the API if features.carouselSeen is supported
  app/soapbox/queries/carousels.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Carousel: don't set unseen unless it's explicitly `false` (backwards-compat)
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

Carousel: add mock for seen API
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
Due: lint-js, jest

EditProfile: move profile preview (avatar/banner) to the top
  app/soapbox/features/edit-profile/index.tsx
Due: lint-js, jest

Allow creating events, events list
  app/soapbox/actions/groups.ts
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/ui/components/modal-root.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/manage-group-modal.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/reducers/group-editor.ts
Due: lint-js, jest

Update Polish translation
  app/soapbox/features/events/index.tsx
  app/soapbox/locales/pl.json
Due: lint-js, jest

Feature-gate event routes
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Add .gitattributes, prevent conflicts on CHANGELOG.md
  .gitattributes
Due: none

Danger: warn when CHANGELOG.md isn't updated
  dangerfile.ts
Due: lint-js

CHANGELOG: add missing release, boilerplate [Unreleased] section
  CHANGELOG.md
Due: none

Danger: improve phrasing of changelog warning
  dangerfile.ts
Due: lint-js

Feeding hide network checkbox
  app/soapbox/features/edit-profile/index.tsx
Due: lint-js, jest

CHANGELOG: fill out changes for Soapbox v2.0, and Unreleased
  CHANGELOG.md
Due: none

Delete custom locale-data
  app/soapbox/locales/locale-data/README.md
  app/soapbox/locales/locale-data/co.js
  app/soapbox/locales/locale-data/oc.js
  jest.config.js
Due: lint-js, jest

Groups: UI improvements
  app/soapbox/actions/groups.ts
  app/soapbox/components/event-preview.tsx
  app/soapbox/components/group-card.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/group/components/group-header.tsx
  app/soapbox/features/group/components/group-info-panel.tsx
  app/soapbox/features/group/group-timeline.tsx
  app/soapbox/features/groups/index.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/compose-event-modal.tsx
  app/soapbox/features/ui/components/modals/compose-event-modal/upload-button.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/manage-group-modal.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/details-step.tsx
  app/soapbox/features/ui/components/modals/manage-group-modal/steps/privacy-step.tsx
  app/soapbox/features/ui/components/panels/new-group-panel.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/pages/group-page.tsx
  app/soapbox/pages/groups-page.tsx
  app/soapbox/reducers/group-editor.ts
  app/soapbox/reducers/group-relationships.ts
  app/soapbox/utils/features.ts
  package.json
  yarn.lock
Due: lint-js, jest
