Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

StatusInteractionBar: break into InteractionCounter component
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  tailwind.config.js
Due: lint-js, jest

InteractionCounter: refactor with <button>
  app/soapbox/features/status/components/status-interaction-bar.tsx
Due: lint-js, jest

Support custom emoji categories Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1197 Related https://github.com/mastodon/mastodon/pull/11196
  app/soapbox/features/compose/components/emoji-picker/emoji-picker-menu.tsx
Due: lint-js, jest

Remove use of DOMParser in front-end emoji rewriting code https://github.com/mastodon/mastodon/pull/20758
  app/soapbox/features/emoji/__tests__/emoji.test.ts
  app/soapbox/features/emoji/emoji.js
Due: lint-js, jest

Fix alignment of emojis in picker
  app/styles/emoji-picker.scss
Due: lint-sass

FeedSuggestions: use HTML display name
  app/soapbox/features/feed-suggestions/feed-suggestions.tsx
Due: lint-js, jest

Add max character count to Chat composer
  app/soapbox/components/ui/hstack/hstack.tsx
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/normalizers/__tests__/instance.test.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/reducers/__tests__/instance.test.ts
Due: lint-js, jest

Move RSS button to account menu
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/features/ui/components/feed-button.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Remove unused config
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/normalizers/soapbox/soapbox-config.ts
Due: lint-js, jest

Remove avatar from chat messages
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Add emoji autocomplete to Chats
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/components/ui/combobox/combobox.css
  app/soapbox/components/ui/combobox/combobox.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/features/chats/components/chat-composer.tsx
  app/soapbox/utils/suggestions.ts
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

Fix StillImage in Safari
  app/soapbox/components/still-image.tsx
Due: lint-js, jest

ProfileHoverCard: fix account bio on Mastodon
  app/soapbox/components/profile-hover-card.tsx
Due: lint-js, jest

Simplify StillImage component, fix header images
  app/soapbox/components/still-image.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/ui/components/user-panel.tsx
Due: lint-js, jest

ProfilePreview: fix display of header image, code cleanup
  app/soapbox/components/ui/avatar/avatar.tsx
  app/soapbox/features/edit-profile/components/profile-preview.tsx
Due: lint-js, jest

MediaModal: fix hotkey navigation Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1209
  app/soapbox/features/ui/components/modals/media-modal.tsx
Due: lint-js, jest

Minor chats styles improvements
  app/soapbox/components/dropdown-menu.tsx
  app/soapbox/components/ui/textarea/textarea.tsx
  app/soapbox/features/chats/components/chat-box.tsx
  app/soapbox/features/chats/components/chat-message-list.tsx
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

Focus styles, keyboard navigation improvements
  app/soapbox/components/list.tsx
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/components/status-reply-mentions.tsx
  app/soapbox/features/aliases/components/search.tsx
  app/styles/components/react-toggle.scss
Due: lint-js, lint-sass, jest

Fix: Can't remove all profile fields
  app/soapbox/features/edit-profile/index.tsx
Due: lint-js, jest

Switch account when adding another account
  app/soapbox/features/auth-login/components/login-page.tsx
  app/soapbox/features/public-layout/components/header.tsx
Due: lint-js, jest

Lint, cleanup, styles…
  app/soapbox/components/dropdown-menu.tsx
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/components/ui/radio-button/radio-button.tsx
  app/soapbox/components/ui/widget/widget.tsx
  app/soapbox/components/verification-badge.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/ads/components/ad.tsx
  app/soapbox/features/edit-profile/index.tsx
  app/soapbox/features/feed-suggestions/feed-suggestions.tsx
  app/soapbox/features/placeholder/components/placeholder-notification.tsx
  app/soapbox/features/soapbox-config/components/crypto-address-input.tsx
  app/soapbox/features/soapbox-config/components/footer-link-input.tsx
  app/soapbox/features/soapbox-config/components/promo-panel-input.tsx
  app/soapbox/features/soapbox-config/index.tsx
  app/soapbox/features/ui/components/modals/actions-modal.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/theme-selector.tsx
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

SidebarNavigation: move Dashboard to top-level
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

SidebarNavigation: move local and fediverse tabs to top-level Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1091
  app/soapbox/components/sidebar-navigation-link.tsx
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

SidebarNavigation: remove dashboardCount from "more" button, whoops
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

Settings: put account move above account deletion
  app/soapbox/features/settings/index.tsx
Due: lint-js, jest

SoapboxConfig: fix selecting an SVG logo (but the backend errors)
  app/soapbox/features/soapbox-config/index.tsx
Due: lint-js, jest

Fix video visibility in media modal
  app/styles/components/video-player.scss
Due: lint-sass

Fix modal videos not visible (blurhash z-index)
  app/styles/components/media-gallery.scss
Due: lint-sass

Make emojis a lil' bigger, fix emojis being very big when content is only emojis
  app/soapbox/components/markup.css
Due: lint-sass, jest

StatusActionBar: include a link to the remote status in the 3-dots menu
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

Use new icons for Local and Fediverse timelines
  app/assets/icons/COPYING.md
  app/assets/icons/fediverse.svg
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/components/sidebar-navigation.tsx
  package.json
  yarn.lock
Due: lint-js, jest

Fix site preview theme
  app/soapbox/components/site-logo.tsx
Due: lint-js, jest

Make some strings localizable
  app/soapbox/components/sidebar-menu.tsx
  app/soapbox/features/auth-login/components/password-reset-confirm.tsx
  app/soapbox/features/chats/components/chat-window.tsx
  app/soapbox/features/developers/settings-store.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/public-layout/components/header.tsx
  app/soapbox/features/ui/components/modals/boost-modal.tsx
  app/soapbox/features/ui/components/modals/verify-sms-modal.tsx
  app/soapbox/features/verification/registration.tsx
  app/soapbox/features/verification/steps/age-verification.tsx
  app/soapbox/features/verification/steps/email-verification.tsx
  app/soapbox/features/verification/steps/sms-verification.tsx
  app/soapbox/features/verification/waitlist-page.tsx
Due: lint-js, jest

Make more strings localizable
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/verification/registration.tsx
  app/soapbox/features/verification/steps/__tests__/email-verification.test.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Fix chat list styles Fixes https://gitlab.com/soapbox-pub/soapbox/-/issues/1221
  app/soapbox/features/chats/components/chat.tsx
Due: lint-js, jest

Update tests
  app/soapbox/features/ui/components/modals/verify-sms-modal.tsx
  app/soapbox/features/verification/steps/__tests__/sms-verification.test.tsx
Due: lint-js, jest

Wrap the emoji selector on smaller screens
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
Due: lint-js, jest

Update german translation
  app/soapbox/locales/de.json
Due: jest
