Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules/

stages:
  - install
  - lint
  - test
  - build
  - deploy

install-dependencies:
  stage: install
  script:
    - yarn install --ignore-scripts
  artifacts:
    paths:
      - node_modules/

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

review:
  stage: deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_SLUG.git.soapbox.pub
  script:
    - npx -y surge static $CI_COMMIT_REF_SLUG.git.soapbox.pub

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Fix classnames import
  app/soapbox/features/chats/components/chat-list.tsx
  app/soapbox/features/chats/components/chat-message-list-intro.tsx
  app/soapbox/features/chats/components/ui/pane.tsx
  app/soapbox/features/placeholder/components/placeholder-chat-message.tsx
Due: lint-js, jest

RelativeTimestamp: convert to TSX
  app/soapbox/components/account.tsx
  app/soapbox/components/relative_timestamp.tsx
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/normalizers/__tests__/poll.test.ts
  app/soapbox/normalizers/__tests__/status.test.ts
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/poll.ts
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

relative_timestamp --> relative-timestamp
  app/soapbox/components/account.tsx
  app/soapbox/components/display-name.tsx
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/relative-timestamp.tsx
  app/soapbox/features/directory/components/account_card.tsx
Due: lint-js, jest

Bundle: convert to TSX
  app/soapbox/features/ui/components/bundle.tsx
  app/soapbox/features/ui/containers/bundle_container.tsx
Due: lint-js, jest

Chats: normalize chat messages from the API
  app/soapbox/queries/chats.ts
Due: lint-js, jest

ChatIndex: break layout into columns
  app/soapbox/features/chats/index.tsx
Due: lint-js, jest

ChatMessageList: fix horizontal overflow for long messages in UI
  app/soapbox/features/chats/components/chat-message-list.tsx
Due: lint-js, jest

Chats: use compareId to sort messages (fix Pleroma)
  app/soapbox/queries/chats.ts
Due: lint-js, jest

Rename chats to messages
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/chats/index.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Add ChatsPage for bigger layout
  app/soapbox/features/ui/index.tsx
  app/soapbox/pages/chats-page.tsx
Due: lint-js, jest

Add header to desktop chats
  app/soapbox/features/chats/components/chat-box.tsx
  app/soapbox/features/chats/index.tsx
Due: lint-js, jest

ChatIndex: clamp to screen height-ish
  app/soapbox/features/chats/components/chat-list.tsx
  app/soapbox/features/chats/components/chat-pane/chat-pane.tsx
  app/soapbox/features/chats/index.tsx
Due: lint-js, jest

Chat: fix various overflow issues
  app/soapbox/features/chats/components/chat.tsx
Due: lint-js, jest

ChatIndex: improve the desktop layout
  app/soapbox/components/ui/stack/stack.tsx
  app/soapbox/features/chats/index.tsx
Due: lint-js, jest

Add preliminary Dockerfile
  .dockerignore
  Dockerfile
  installation/docker.conf
Due: none

Add app.json
  app.json
Due: jest

Add heroku.yml so it uses the Dockerfile
  heroku.yml
Due: none

Dockerfile: support the PORT variable, expose 5000 by default
  Dockerfile
  installation/docker.conf
Due: none

docker.conf --> docker.conf.template
  Dockerfile
  installation/docker.conf.template
Due: none

vscode: recognize *.conf.template files
  .vscode/settings.json
Due: jest

vscode: make settings match .editorconfig
  .vscode/settings.json
Due: jest

vscode: remove editorconfig extension
  .vscode/extensions.json
Due: jest

Use content_type from backend when editing a status
  app/soapbox/actions/statuses.ts
Due: lint-js, jest

Update Polish translation
  app/soapbox/components/polls/poll.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/other-actions-step.tsx
  app/soapbox/locales/pl.json
Due: lint-js, jest

Update Polish translation
  app/soapbox/locales/pl.json
Due: jest

Change active tab when navigated to another profile page
  app/soapbox/pages/profile_page.tsx
Due: lint-js, jest

Docker: configurable BACKEND_URL
  Dockerfile
  installation/docker.conf.template
Due: none

dockerignore: .git
  .dockerignore
Due: none

Docker: adopt mastodon.conf
  installation/docker.conf.template
Due: none

Docker: make CSP configurable
  Dockerfile
  installation/docker.conf.template
Due: none

Docker: open fallback backend at :4444
  Dockerfile
  installation/docker.conf.template
Due: none

soapbox-pub/soapbox-fe --> soapbox-pub/soapbox
  .vscode/soapbox.code-snippets
  CHANGELOG.md
  README.md
  app/instance/about.example/index.html
  app/soapbox/actions/importer/index.ts
  app/soapbox/normalizers/account.ts
  app/soapbox/reducers/custom_emojis.ts
  app/soapbox/reducers/notifications.js
  app/soapbox/reducers/timelines.ts
  app/soapbox/utils/features.ts
  app/soapbox/utils/status.ts
  docs/administration/deploy-at-scale.md
  docs/administration/install-subdomain.md
  docs/administration/install-yunohost.md
  docs/administration/mastodon.md
  docs/administration/updating.md
  docs/contributing.md
  docs/development/developing-backend.md
  docs/development/how-it-works.md
  docs/development/running-locally.md
  docs/installing.md
  package.json
Due: lint-js, jest, docs-deploy

GitLab CI: build a docker image
  .gitlab-ci.yml
Due: none

GitLab CI: only publish image on develop
  .gitlab-ci.yml
Due: none

Allow users to create events
  app/soapbox/actions/events.ts
  app/soapbox/actions/interactions.ts
  app/soapbox/components/autosuggest-location.tsx
  app/soapbox/components/autosuggest_input.tsx
  app/soapbox/components/hover-status-wrapper.tsx
  app/soapbox/components/location-search.tsx
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/ui/textarea/textarea.tsx
  app/soapbox/features/compose/components/schedule_form.tsx
  app/soapbox/features/compose/components/upload.tsx
  app/soapbox/features/compose/containers/compose_form_container.js
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/modals/create-event-modal/create-event-modal.tsx
  app/soapbox/features/ui/components/modals/create-event-modal/upload-button.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/location.ts
  app/soapbox/queries/suggestions.ts
  app/soapbox/reducers/admin.ts
  app/soapbox/reducers/create_event.ts
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/locations.ts
  app/soapbox/reducers/trending_statuses.ts
  app/soapbox/types/entities.ts
  package.json
  yarn.lock
Due: lint-js, jest

Wrap HStack in some places
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/ui/hstack/hstack.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

Normalize event information
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

sw.js: whitelist Phoenix LiveDashboard
  webpack/production.js
Due: lint-js, jest

EmojiReacts: remove thumbs-up, map like to heart
  app/soapbox/actions/emoji_reacts.ts
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/features/ui/components/reactions_modal.tsx
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/utils/emoji_reacts.ts
Due: lint-js, jest

Colors: add HSL utils module
  app/soapbox/utils/__tests__/hsl.test.ts
  app/soapbox/utils/hsl.ts
Due: lint-js, jest
