Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Move 'compareId' to comparators utils
  app/soapbox/__tests__/compare_id.test.ts
  app/soapbox/actions/notifications.ts
  app/soapbox/features/admin/components/latest_accounts_panel.tsx
  app/soapbox/reducers/conversations.ts
  app/soapbox/utils/comparators.ts
Due: lint-js, jest

Rename files (0): _ -> -
  app/soapbox/actions/dropdown_menu.ts
  app/soapbox/components/__tests__/avatar_overlay.test.tsx
  app/soapbox/components/__tests__/emoji_selector.test.tsx
  app/soapbox/components/account-search.tsx
  app/soapbox/components/attachment_list.tsx
  app/soapbox/components/autosuggest-account-input.tsx
  app/soapbox/components/autosuggest_input.tsx
  app/soapbox/components/avatar-overlay.tsx
  app/soapbox/components/birthday-input.tsx
  app/soapbox/components/column-header.js
  app/soapbox/components/dropdown-menu.tsx
  app/soapbox/components/emoji-selector.tsx
  app/soapbox/components/error-boundary.tsx
  app/soapbox/components/extended-video-player.tsx
  app/soapbox/components/fork-awesome-icon.tsx
  app/soapbox/components/icon.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/containers/dropdown_menu_container.ts
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/account_timeline/components/moved_note.tsx
  app/soapbox/features/auth_login/components/registration_form.tsx
  app/soapbox/features/chats/components/chat-message-list.tsx
  app/soapbox/features/chats/components/chat-panes.tsx
  app/soapbox/features/chats/index.tsx
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/conversations/index.tsx
  app/soapbox/features/direct_timeline/index.tsx
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/features/ui/components/accordion.tsx
  app/soapbox/features/ui/components/actions_modal.tsx
  app/soapbox/features/ui/components/media-modal.tsx
  app/soapbox/reducers/dropdown_menu.ts
Due: lint-js, jest

Rename files (1): _ -> -
  app/soapbox/components/birthday-input.tsx
  app/soapbox/components/domain.tsx
  app/soapbox/components/icon-button.js
  app/soapbox/features/admin/components/unapproved_account.tsx
  app/soapbox/features/aliases/components/account.tsx
  app/soapbox/features/chats/components/chat-box.tsx
  app/soapbox/features/chats/components/chat-window.tsx
  app/soapbox/features/compose/components/schedule_form.tsx
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/features/compose/components/upload.tsx
  app/soapbox/features/follow_requests/components/account_authorize.tsx
  app/soapbox/features/list_adder/components/list.tsx
  app/soapbox/features/list_editor/components/account.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/reply_mentions/account.tsx
  app/soapbox/features/scheduled_statuses/components/scheduled_status_action_bar.tsx
  app/soapbox/features/ui/components/bundle_modal_error.tsx
  app/soapbox/features/ui/components/media-modal.tsx
Due: lint-js, jest

Patch emoji parsing from upstream https://github.com/mastodon/mastodon/pull/20640 https://github.com/mastodon/mastodon/pull/20677
  app/soapbox/features/emoji/__tests__/emoji.test.ts
  app/soapbox/features/emoji/emoji.js
Due: lint-js, jest

Rename files (3): _ -> -
  app/soapbox/actions/compose.ts
  app/soapbox/actions/emojis.ts
  app/soapbox/components/__tests__/autosuggest-emoji.test.tsx
  app/soapbox/components/__tests__/avatar-overlay.test.tsx
  app/soapbox/components/__tests__/display-name.test.tsx
  app/soapbox/components/__tests__/emoji-selector.test.tsx
  app/soapbox/components/announcements/reactions-bar.tsx
  app/soapbox/components/autosuggest-account-input.tsx
  app/soapbox/components/autosuggest-emoji.tsx
  app/soapbox/components/autosuggest-input.tsx
  app/soapbox/components/autosuggest-textarea.tsx
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/compose/components/emoji-picker/emoji-picker-dropdown.tsx
  app/soapbox/features/compose/components/emoji-picker/emoji-picker-menu.tsx
  app/soapbox/features/compose/components/polls/poll-form.tsx
  app/soapbox/features/compose/components/spoiler-input.tsx
  app/soapbox/reducers/compose.ts
  app/soapbox/reducers/settings.ts
Due: lint-js, jest

Fix tests that rely on emojification
  app/soapbox/normalizers/__tests__/account.test.ts
  app/soapbox/normalizers/__tests__/poll.test.ts
  app/soapbox/normalizers/__tests__/status.test.ts
  app/soapbox/reducers/__tests__/statuses.test.ts
Due: lint-js, jest

Rename files (7): normalizers
  app/soapbox/normalizers/admin-account.ts
  app/soapbox/normalizers/admin-report.ts
  app/soapbox/normalizers/announcement-reaction.ts
  app/soapbox/normalizers/announcement.ts
  app/soapbox/normalizers/chat-message.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/soapbox/__tests__/soapbox_config-test.ts
  app/soapbox/normalizers/soapbox/soapbox-config.ts
  app/soapbox/normalizers/status-edit.ts
  app/soapbox/types/soapbox.ts
Due: lint-js, jest

AdsToken: make the form actually work
  app/soapbox/features/ads-token/index.tsx
Due: lint-js, jest

View remote profile from 3-dots
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

Rename files (8): pages
  app/soapbox/features/ui/index.tsx
  app/soapbox/pages/admin-page.tsx
  app/soapbox/pages/default-page.tsx
  app/soapbox/pages/empty-page.tsx
  app/soapbox/pages/home-page.tsx
  app/soapbox/pages/profile-page.tsx
  app/soapbox/pages/remote-instance-page.tsx
  app/soapbox/pages/status-page.tsx
Due: lint-js, jest

Rename files (9): reducers
  app/soapbox/actions/__tests__/account-notes.test.ts
  app/soapbox/actions/__tests__/accounts.test.ts
  app/soapbox/actions/__tests__/blocks.test.ts
  app/soapbox/features/scheduled-statuses/builder.tsx
  app/soapbox/features/ui/components/reactions_modal.tsx
  app/soapbox/features/ui/util/pending_status_builder.ts
  app/soapbox/reducers/__tests__/accounts-counters.test.ts
  app/soapbox/reducers/__tests__/custom-emojis.test.ts
  app/soapbox/reducers/__tests__/domain-lists.test.ts
  app/soapbox/reducers/__tests__/dropdown-menu.test.ts
  app/soapbox/reducers/__tests__/list-adder.test.ts
  app/soapbox/reducers/__tests__/push-notifications.test.ts
  app/soapbox/reducers/__tests__/status-lists.test.ts
  app/soapbox/reducers/__tests__/user-lists.test.ts
  app/soapbox/reducers/account-notes.ts
  app/soapbox/reducers/accounts-counters.ts
  app/soapbox/reducers/admin-log.ts
  app/soapbox/reducers/chat-message-lists.ts
  app/soapbox/reducers/chat-messages.ts
  app/soapbox/reducers/custom-emojis.ts
  app/soapbox/reducers/domain-lists.ts
  app/soapbox/reducers/dropdown-menu.ts
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/list-adder.ts
  app/soapbox/reducers/list-editor.ts
  app/soapbox/reducers/pending-statuses.ts
  app/soapbox/reducers/profile-hover-card.ts
  app/soapbox/reducers/push-notifications.ts
  app/soapbox/reducers/scheduled-statuses.ts
  app/soapbox/reducers/status-lists.ts
  app/soapbox/reducers/trending-statuses.ts
  app/soapbox/reducers/user-lists.ts
Due: lint-js, jest

Rename files (10): service-worker + storage
  app/soapbox/actions/auth.ts
  app/soapbox/actions/instance.ts
  app/soapbox/actions/me.ts
  app/soapbox/actions/soapbox.ts
  app/soapbox/components/error-boundary.tsx
  app/soapbox/reducers/auth.js
  app/soapbox/reducers/instance.ts
  app/soapbox/reducers/soapbox.js
  app/soapbox/service-worker/entry.ts
  app/soapbox/service-worker/web-push-locales.js
  app/soapbox/service-worker/web-push-notifications.ts
  app/soapbox/service_worker/entry.ts
  app/soapbox/storage/kv-store.ts
Due: lint-js, jest

Rename files (12): rand
  app/soapbox/actions/consumer-auth.ts
  app/soapbox/api/index.ts
  app/soapbox/base-polyfills.ts
  app/soapbox/build-config.js
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/error-boundary.tsx
  app/soapbox/components/extended-video-player.tsx
  app/soapbox/components/hover-ref-wrapper.tsx
  app/soapbox/components/hover-status-wrapper.tsx
  app/soapbox/components/media-gallery.tsx
  app/soapbox/containers/dropdown-menu-container.ts
  app/soapbox/containers/soapbox.tsx
  app/soapbox/custom.ts
  app/soapbox/extra-polyfills.ts
  app/soapbox/features/account-gallery/components/media-item.tsx
  app/soapbox/features/compose/components/compose-form.tsx
  app/soapbox/features/compose/components/privacy-dropdown.tsx
  app/soapbox/features/soapbox-config/components/color-picker.tsx
  app/soapbox/features/soapbox-config/components/color-with-picker.tsx
  app/soapbox/is-mobile.ts
  app/soapbox/load-polyfills.ts
  app/soapbox/main.tsx
  app/soapbox/monitoring.ts
  app/soapbox/performance.ts
  app/soapbox/reducers/auth.js
  app/soapbox/reducers/index.ts
  app/soapbox/utils/__tests__/comparators.test.ts
  app/soapbox/utils/state.ts
  app/soapbox/utils/static.ts
Due: lint-js, jest

Rename files (13): cleanup misc
  app/application.ts
  app/soapbox/actions/push-notifications/index.ts
  app/soapbox/actions/push-notifications/registerer.ts
  app/soapbox/actions/push-notifications/setter.ts
  app/soapbox/features/ui/index.tsx
  app/soapbox/normalizers/soapbox/__tests__/soapbox-config.test.ts
  app/soapbox/reducers/push-notifications.ts
Due: lint-js, jest

Fix build
  jest.config.js
  webpack/production.ts
Due: lint-js, jest

Fix test
  app/soapbox/actions/__tests__/me.test.ts
Due: lint-js, jest

Organize modals into modals/ subfolder
  app/soapbox/features/ui/components/modals/account-note-modal.tsx
  app/soapbox/features/ui/components/modals/actions-modal.tsx
  app/soapbox/features/ui/components/modals/birthdays-modal.tsx
  app/soapbox/features/ui/components/modals/boost-modal.tsx
  app/soapbox/features/ui/components/modals/compare-history-modal.tsx
  app/soapbox/features/ui/components/modals/component-modal.tsx
  app/soapbox/features/ui/components/modals/compose-modal.tsx
  app/soapbox/features/ui/components/modals/confirmation-modal.tsx
  app/soapbox/features/ui/components/modals/crypto-donate-modal.tsx
  app/soapbox/features/ui/components/modals/edit-federation-modal.tsx
  app/soapbox/features/ui/components/modals/embed-modal.tsx
  app/soapbox/features/ui/components/modals/familiar-followers-modal.tsx
  app/soapbox/features/ui/components/modals/hotkeys-modal.tsx
  app/soapbox/features/ui/components/modals/media-modal.tsx
  app/soapbox/features/ui/components/modals/mentions-modal.tsx
  app/soapbox/features/ui/components/modals/missing-description-modal.tsx
  app/soapbox/features/ui/components/modals/mute-modal.tsx
  app/soapbox/features/ui/components/modals/reactions-modal.tsx
  app/soapbox/features/ui/components/modals/reblogs-modal.tsx
  app/soapbox/features/ui/components/modals/reply-mentions-modal.tsx
  app/soapbox/features/ui/components/modals/unauthorized-modal.tsx
  app/soapbox/features/ui/components/modals/video-modal.tsx
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

Remove 'about.scss' and 'server-info.scss'
  app/soapbox/features/about/index.tsx
  app/soapbox/features/server-info/index.tsx
  app/styles/about.scss
  app/styles/application.scss
  app/styles/components/server-info.scss
  app/styles/truth.scss
Due: lint-js, lint-sass, jest

Remove 'accordian.scss'
  app/soapbox/features/ui/components/accordion.tsx
  app/styles/application.scss
  app/styles/components/accordion.scss
  app/styles/components/admin.scss
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

Move Accordion into Component UI
  app/soapbox/components/ui/accordion/accordion.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/features/admin/components/report.tsx
  app/soapbox/features/crypto-donate/index.tsx
  app/soapbox/features/federation-restrictions/index.tsx
  app/soapbox/features/public-timeline/index.tsx
  app/soapbox/features/soapbox-config/index.tsx
Due: lint-js, jest

Remove 'donations.scss'
  app/soapbox/features/ui/components/funding-panel.tsx
  app/styles/application.scss
  app/styles/donations.scss
Due: lint-js, lint-sass, jest

Fix typography on dark mode in About page
  app/soapbox/features/about/index.tsx
Due: lint-js, jest

Remove footer SCSS
  app/styles/application.scss
  app/styles/footer.scss
Due: lint-sass

Remove Truth SCSS
  app/styles/accounts.scss
  app/styles/application.scss
  app/styles/truth.scss
  app/styles/ui.scss
Due: lint-sass

Remove Reset SCSS
  app/styles/application.scss
  app/styles/reset.scss
Due: lint-sass

Remove 'setting-toggle.scss'
  app/soapbox/features/chats/components/audio-toggle.tsx
  app/styles/application.scss
  app/styles/components/setting-toggle.scss
Due: lint-js, lint-sass, jest

Remove 'remote-timeline.scss'
  app/styles/application.scss
  app/styles/components/remote-timeline.scss
Due: lint-sass

Remove 'wtf-panel.scss'
  app/styles/application.scss
  app/styles/components/sidebar-menu.scss
  app/styles/components/wtf-panel.scss
Due: lint-sass

Remove 'trends.scss'
  app/soapbox/features/placeholder/components/placeholder-hashtag.tsx
  app/styles/application.scss
  app/styles/components/trends.scss
  app/styles/placeholder.scss
Due: lint-js, lint-sass, jest

Remove 'radio-button.scss', 'dirctory.scss' and move RadioButton to UI Components
  app/soapbox/components/radio-button.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/components/ui/radio-button/radio-button.tsx
  app/soapbox/features/directory/components/account-card.tsx
  app/soapbox/features/directory/index.tsx
  app/soapbox/reducers/user-lists.ts
  app/styles/application.scss
  app/styles/components/directory.scss
  app/styles/components/radio-button.scss
Due: lint-js, lint-sass, jest

Fix promo panel icon picker, use TS, FC
  app/soapbox/features/soapbox-config/components/icon-picker-dropdown.js
  app/soapbox/features/soapbox-config/components/icon-picker-dropdown.tsx
  app/soapbox/features/soapbox-config/components/icon-picker-menu.js
  app/soapbox/features/soapbox-config/components/icon-picker-menu.tsx
Due: lint-js, jest

Update Polish translation
  app/soapbox/components/status-reply-mentions.tsx
  app/soapbox/features/verification/steps/email-verification.tsx
  app/soapbox/locales/pl.json
Due: lint-js, jest

README: update screenshot
  soapbox-screenshot.png
Due: none

Fix 'Icon counter is italicized'
  app/soapbox/components/icon-with-counter.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
