Repository soapbox-pub/soapbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
image: node:16
variables:
  NODE_ENV: test
cache:
  key:
    files:
    - yarn.lock
  paths:
  - node_modules
stages:
- lint
- test
- build
- deploy
before_script:
- env
- yarn
lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
    - "**/*.js"
    - "**/*.jsx"
    - "**/*.ts"
    - "**/*.tsx"
    - ".eslintignore"
    - ".eslintrc.js"
lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
    - "**/*.scss"
    - "**/*.css"
    - ".stylelintrc.json"
jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
    - "**/*.js"
    - "**/*.json"
    - app/soapbox/**/*
    - webpack/**/*
    - jest.config.js
    - package.json
    - yarn.lock
build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static
docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
    - develop
    changes:
    - docs/**/*
pages:
  stage: deploy
  before_script: []
  script:
  - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
    - develop
include:
- template: Security/Dependency-Scanning.gitlab-ci.yml

SidebarNavigationLink: improve size/spacing
  app/soapbox/components/sidebar-navigation-link.tsx
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

SiteLogo: fall back to invisible image
  app/soapbox/components/site-logo.tsx
Due: lint-js, jest

Soapbox reducer: fallback to Soapbox logo
  app/soapbox/reducers/soapbox.js
Due: lint-js, jest

Add WIP unauthorizedMiddleware
  app/soapbox/actions/accounts.js
  app/soapbox/middleware/unauthorized.ts
  app/soapbox/store.ts
Due: lint-js, jest

Fetch soapbox.json from the server (like an API)
  app/soapbox/actions/soapbox.js
Due: lint-js, jest

Revert "Merge branch 'revert-ef54e447' into 'develop'"
  app/soapbox/features/compose/components/search_results.js
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/features/compose/containers/search_results_container.js
  app/soapbox/features/follow_recommendations/components/follow_recommendations_list.tsx
  app/soapbox/features/search/index.tsx
  app/soapbox/reducers/__tests__/search-test.js
  app/soapbox/reducers/__tests__/suggestions-test.js
  app/soapbox/reducers/__tests__/trends-test.js
  app/soapbox/reducers/search.ts
  app/soapbox/reducers/suggestions.ts
  app/soapbox/reducers/trending_statuses.js
  app/soapbox/reducers/trending_statuses.ts
  app/soapbox/reducers/trends.ts
Due: lint-js, jest

Add coverage
  .gitlab-ci.yml
Due: none

Setup junit
  .gitignore
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: jest

Trigger
  app/soapbox/components/list.tsx
Due: lint-js, jest

Allow tearing down a review app
  .gitlab-ci.yml
Due: none

Only show securityAPI items if available
  app/soapbox/features/settings/index.tsx
Due: lint-js, jest

Remove API from feature names
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/features/ui/components/unauthorized_modal.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Show quoted statuses list
  app/soapbox/actions/status_quotes.ts
  app/soapbox/features/quotes/index.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/reducers/status_lists.js
Due: lint-js, jest

fix
  app/soapbox/features/quotes/index.tsx
Due: lint-js, jest

this seems to work better
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

add test for actitons/status_quotes
  app/soapbox/__fixtures__/status_quotes.json
  app/soapbox/actions/__tests__/status_quotes.test.ts
Due: lint-js, jest

GitLab CI: only deploy review app if Surge credentials are provided
  .gitlab-ci.yml
Due: none

ChatPane WIP component
  app/soapbox/features/chats/components/chat-pane.tsx
Due: lint-js, jest

Streamfield: allow drag-and-drop
  app/soapbox/components/ui/streamfield/streamfield.tsx
  package.json
  yarn.lock
Due: lint-js, jest

ChatRoom: convert to TSX
  app/soapbox/features/chats/chat_room.js
  app/soapbox/features/chats/chat_room.tsx
Due: lint-js, jest

Add pgp utils to identify pgp messages
  app/soapbox/utils/__tests__/pgp.test.ts
  app/soapbox/utils/pgp.ts
Due: lint-js, jest

ChatMessageList: rudimentary display of PGP messages
  app/soapbox/features/chats/components/chat_message_list.js
Due: lint-js, jest

Generate a PGP key on pageload
  app/soapbox/features/ui/index.tsx
  app/soapbox/utils/pgp.ts
  package.json
  yarn.lock
Due: lint-js, jest

ChatBox: add encryption lock button
  app/soapbox/features/chats/components/chat_box.js
  app/soapbox/features/compose/components/upload_button.tsx
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

ChatBox: click lock button to initiate key exchange
  app/soapbox/features/chats/components/chat_box.js
Due: lint-js, jest

ChatMessageList: fix message author
  app/soapbox/features/chats/components/chat_message_list.js
Due: lint-js, jest

utils/pgp: don't use openpgp/lightweight as it doesn't work with jest
  app/soapbox/utils/pgp.ts
Due: lint-js, jest

Store contact PGP publicKey in browser storage
  app/soapbox/reducers/chat_messages.ts
  app/soapbox/utils/pgp.ts
Due: lint-js, jest

ChatBox: allow toggling encryption button
  app/soapbox/features/chats/components/chat_box.js
Due: lint-js, jest

ChatBox: allow sending PGP encrypted message
  app/soapbox/features/chats/components/chat_box.js
  app/soapbox/reducers/chat_messages.ts
  app/soapbox/utils/pgp.ts
Due: lint-js, jest

ChatBox: also encrypt message to self
  app/soapbox/features/chats/components/chat_box.js
Due: lint-js, jest

ChatMessageList: decrypt encrypted messages
  app/soapbox/features/chats/components/chat_message_list.js
  app/soapbox/utils/pgp.ts
Due: lint-js, jest

ChatMessageList: 'Encrypted message' --> 'Encryption key'
  app/soapbox/features/chats/components/chat_message_list.js
Due: lint-js, jest

ChatBox: don't clear encrypted state after sending a message
  app/soapbox/features/chats/components/chat_box.js
Due: lint-js, jest

OpenPGP.js: configure a comment for armored messages
  app/soapbox/utils/pgp.ts
Due: lint-js, jest

GitLab CI: code quality
  .gitlab-ci.yml
Due: none

Danger: assign MR reviewers automatically
  dangerfile.ts
Due: lint-js

Danger: try @gitbeaker/node
  dangerfile.ts
  package.json
  yarn.lock
Due: lint-js, jest

GitLab CI: call danger with npx
  .gitlab-ci.yml
Due: none

GitLab CI: actually, just make `danger` job depend on `deps`
  .gitlab-ci.yml
Due: none
